/*
Responsivenator: v2.00;
Author: Luisangel Marquez @lma_90;
*/

*  {
  @include box-sizing(border-box);
}

img, audio, video, canvas {
  max-width: 100%;
  height: auto;
}

/*  Grid Global Variables  ========================================*/

$gridWidth: 96%;/*Total width for grid*/
$maxWidth: 1400px;/*Max width for grid*/
$minWidth: 300px;/*Min width for grid*/
$width: 100%;/*Total width for columns*/
$gridColumns: 12; /*Total number of columns*/
$colGutter: 1.5%;/*Column gutter left/right*/
$colMarginGrid: $colGutter*2;/*Space to be subtracted from the column width, needed to apply margins*/
$colMarginBottom: 25px;/*Margin bottom applied to columns*/
$totalColMargin: 0 $colGutter $colMarginBottom $colGutter;/*Column margin*/



/*  Grid  ========================================================*/

@mixin grid {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  max-width: $maxWidth;
  display: block;
  letter-spacing: -0.31em;
}

/*Opera fix*/

@mixin grid-opera {
    .opera:-o-prefocus, .grid {
      word-spacing: -0.43em;
      letter-spacing: normal;
    }
}

/* Columns setup  ================================================*/

@mixin columnSetUp($setUp) {
    display: inline-block;
    vertical-align: top;
    margin: $totalColMargin;

    @if $setUp ==  grid-level {
      letter-spacing: -0.43em;
    }
    @if $setUp ==  grid-level-opera {
      word-spacing: -0.43em;
      letter-spacing: normal;
    }
    @else if $setUp ==  column-level {
      letter-spacing: normal;
      word-spacing: normal;
    }
}

/*Column Loop with Classes*/

@for $i from 1 through $gridColumns {
  .col-#{$i} {
    width: $width/($i) - $colMarginGrid;
    @include columnSetUp(column-level);
  }
}

/*Columns mixin without classes or to be included at breakpoints*/

/*Mixin for columns*/

@mixin col($columns) {

  @include columnSetUp(column-level);

  @for $i from 1 through 12 {
    @if $columns == $i {
      width: $width/$i - $colMarginGrid;
      margin: $totalColMargin;
    }
  }
}

/*Mixin for nested columns*/

@mixin nested-col($nested-columns) {

  @include columnSetUp(grid-level);

  @for $i from 1 through 12 {
    @if $nested-columns == $i {
      width: $width/$i - $colMarginGrid;
      margin: $totalColMargin;
    }
  }
}

/*Mixin for nested columns (Opera v11 and under fix only)*/

@mixin nested-col-opera($nested-columns-opera) {

  @include columnSetUp(grid-level-opera);

  @for $i from 1 through 12 {
    @if $nested-columns-opera == $i {
      width: $width/$i - $colMarginGrid;
      margin: $totalColMargin;
    }
  } 
}

/*  Uneven Columns
=================================================================*/
@mixin col-2-12  { width: 60% - $colMarginGrid;}
@mixin col-3-12  { width: 66.66666666666667% - $colMarginGrid;}
@mixin col-4-12  { width: 75% - $colMarginGrid; }
@mixin col-6-12  { width: 83.33333333333333% - $colMarginGrid; }
@mixin col-8-12  { width: 87.50% - $colMarginGrid; }
@mixin col-10-12 { width: 90% - $colMarginGrid; }
@mixin col-12-12 { width: 91.6% - $colMarginGrid;}

.col-2-12  { @include col-2-12  }
.col-3-12  { @include col-3-12  }
.col-4-12  { @include col-4-12  }
.col-6-12  { @include col-6-12  }
.col-8-12  { @include col-6-12  }
.col-10-12 { @include col-8-12  }
.col-12-12 { @include col-12-12 }
