/*
Responsivenator: v2.00;
Author: Luisangel Marquez @lma_90;
*/

*  {
  @include box-sizing(border-box);
}

img, audio, video, canvas {
  max-width: 100%;
  height: auto;
}

/*  Grid Global Variables  ============================================================================= */
$gridWidth: 96%;/*Total width for grid*/
$maxWidth: 1400px;/*Max width for grid*/
$minWidth: 300px;/*Min width for grid*/
$padding: 1em;
$totalWidth: 100%;/*Total width for columns*/
$colGutter: 1.5%;/*Column gutter left/right*/
$colMarginGrid: $colGutter*2;/*Space to be subtracted from the column width, needed to apply margins*/
$colMarginBottom: 25px;/*Margin bottom applied to columns*/
$totalColMargin: 0 $colGutter $colMarginBottom $colGutter;

$gridColumns: 12; /*Total number of columns*/

/*Colum variables*/
$col-1:  col-1;
$col-2:  col-2;
$col-3:  col-3;
$col-4:  col-4;
$col-5:  col-5;
$col-6:  col-6;
$col-7:  col-7;
$col-8:  col-8;
$col-9:  col-9;
$col-10: col-10;
$col-11: col-11;
$col-12: col-12;

/*Column Loop*/
@for $i from 1 through $gridColumns {
  .col-#{$i} {
    width: $totalWidth/($i) - $colMarginGrid;
  }
}

/*Mixin to be included in breakpoints*/
@mixin col-1  {width: $totalWidth/1 - $colMarginGrid; margin: $totalColMargin; }
@mixin col-2  {width: $totalWidth/2 - $colMarginGrid; margin: $totalColMargin; }
@mixin col-3  {width: $totalWidth/3 - $colMarginGrid; margin: $totalColMargin; }
@mixin col-4  {width: $totalWidth/4 - $colMarginGrid; margin: $totalColMargin; }
@mixin col-5  {width: $totalWidth/5 - $colMarginGrid; margin: $totalColMargin; }
@mixin col-6  {width: $totalWidth/6 - $colMarginGrid; margin: $totalColMargin; }
@mixin col-7  {width: $totalWidth/7 - $colMarginGrid; margin: $totalColMargin; }
@mixin col-8  {width: $totalWidth/8 - $colMarginGrid; margin: $totalColMargin; }
@mixin col-9  {width: $totalWidth/9 - $colMarginGrid; margin: $totalColMargin; }
@mixin col-10 {width: $totalWidth/1 - $colMarginGrid; margin: $totalColMargin; }
@mixin col-11 {width: $totalWidth/1 - $colMarginGrid; margin: $totalColMargin; }
@mixin col-12 {width: $totalWidth/1 - $colMarginGrid; margin: $totalColMargin; }

/*  Grid / Clearfix  ========================================================*/
.grid {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  max-width: $maxWidth;
  display: block;
  letter-spacing: -0.31em;
  word-spacing:-0.43em;
}
.grid:before,
.grid:after {
    content:"";
    display:table;
}
.grid:after {
    clear:both;
}
.grid {
    zoom:1; /* For IE 7 (trigger hasLayout) */
}

/*  Grid columns setup  =======================================================*/
.col-item {
  display: inline-block;
  width: $totalWidth/1;
  vertical-align: top;
  text-align: left;
}

/*  Uneven Columns
============================================================================= */
$col-2-12  : 60% - $colMarginGrid;
$col-3-12  : 66.66666666666667% - $colMarginGrid;
$col-4-12  : 75% - $colMarginGrid; 
$col-6-12  : 83.33333333333333% - $colMarginGrid; 
$col-8-12  : 87.50% - $colMarginGrid; 
$col-10-12 : 90% - $colMarginGrid; 
$col-12-12 : 91.6% - $colMarginGrid;

.col-2-12  { width: $col-2-12; }
.col-3-12  { width: $col-3-12; }
.col-4-12  { width: $col-4-12; }
.col-6-12  { width: $col-6-12; }
.col-8-12  { width: $col-8-12; }
.col-10-12 { width: $col-10-12;}
.col-12-12 { width: $col-12-12;}
