@import "normalize-scss/normalize";
@import "compass/css3";
@import "_grid.scss";

@mixin breakpoint($point) {
  @if $point == br-1 {
    @media (max-width: 1100px) { @content; }
  }
  @if $point == br-2 {
    @media (max-width: 800px) { @content; }
  }
  @else if $point == br-3 {
    @media (max-width: 600px)  { @content; }
  }
}

body {
/*  max-width: $maxWidth;
  margin: 0 auto;*/
}

.grid {
	background: yellow;
}

p {
  color: #fff;
  font-family: helvetica;
  display: block;
  text-align: left;
}

.col-item {
  background: #ccc;
}

.feed {
  @include col-2;
  background: #ccc;

  .two {
    @include col-2();
  }
}

.nested {
  @include col-2;
  background: #ccc;

  .two {
    @include col-2();
  }
}
