@import "normalize-scss/normalize";
@import "compass/css3";
@import "_grid.scss";

/*Colors*/

$green: #3cd27b;
$blue: #3498db;


@mixin breakpoint($point) {
  @if $point == br-1 {
    @media (max-width: 1100px) { @content; }
  }
  @if $point == br-2 {
    @media (max-width: 800px) { @content; }
  }
  @else if $point == br-3 {
    @media (max-width: 600px)  { @content; }
  }
}

@mixin increase-color($color, $iterations, $darken) {
  
  @for $i from 1 through $iterations {
    &:nth-child(#{$i+1}) {
      $increase-color: $i * $darken;
      background: darken($color, $increase-color);
    }
  }
}


.wrapper {
  @include grid();
  background: none;
  margin: 100px auto;
}

p {
  text-align: center;
  color: #fff;
  font-family: helvetica;
  font-size: 2em;
  line-height: 1em;

}

div {
  height: 6em;
  background: $green;
  @include increase-color($green, 70, .5%)
}

.siete {
  @include col(7);
}
.cinco {
  @include col(3)
}

.one {
  @include col(1);
}
.two {
  @include col(2);

  @include breakpoint(br-2) {
    @include col(1, 50%);
  }
}
.three {
  @include col(3);
}
.four {
  @include col(4);

  
  &.first {
    background: cyan;
    @include col(2);
  }
  &.second {
    @include col(6);
  }
  &.third {
    @include col(6);
  }
  &.fourth {
    @include col(6);
  }
  
}
.five {
  @include col(5);
}
.six {
  @include col(6);
}
.seven {
  @include col(7);
}
.eight {
  @include col(8);
}
.nine {
  @include col(9);
}
.ten {
  @include col(10);
}
.twelve {
  @include col(12);
}



.lt-ie8 div {
  *display: inline;
  zoom: 1;
}

.lt-ie8 .wrapper {
  width: 960px;
  max-width: 960px;
}