@import "normalize-scss/normalize";
@import "compass/css3";
@import "_grid.scss";

@mixin breakpoint($point) {
  @if $point == br-1 {
    @media (max-width: 1100px) { @content; }
  }
  @if $point == br-2 {
    @media (max-width: 800px) { @content; }
  }
  @else if $point == br-3 {
    @media (max-width: 600px)  { @content; }
  }
}
section {
	background: #2497dd;
	padding: $padding;
}
.grid {
	background: yellow;
}
p {
  color: #fff;
  font-family: helvetica;
  display: block;
  text-align: center;

}

.nested section {
  background: #e74c3c;
}

/*Column Mixin example*/

/*@include breakpoint(br-2) {

  .col-2 {
    @include col-1;
  }
  .col-4 {
    @include col-2;
  }
  .col-6 {
    @include col-3;
  }
}*/